Content & Hashtag Generation Using Data Table (1).json
{
  "name": "Content & Hashtag Generation Using Data Table",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        256,
        0
      ],
      "id": "e20ab51b-9e52-47e3-afd4-7a8d42caf577",
      "name": "When chat message received",
      "webhookId": "545e6dde-c2ad-4ee4-9cd8-05c2284a294a"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.chatInput }}"
            }
          ]
        },
        "options": {
          "systemMessage": "=# Overview\nYou are an AI content creation assistant.  Your job is to generate high-quality, engaging social media content and relevant hashtags based on a given topic, product, or keyword. \n\n### Your objectives: \n1. Generate clear, creative, and engaging captions, posts, or article snippets depending on the user's input. \n2. Include **relevant and trending hashtags** that match the tone, audience, and platform (Instagram, LinkedIn, X, etc.). \n3. Maintain the brand voice: professional, positive, and audience-friendly. \n4. Avoid repetition, filler words, or generic hashtags. \n5. Always return your output in structured JSON format as follows:  \n{   \"topic\": \"<short summary of topic>\",  \n\"content\": \"<generated content or caption>\",  \n\"hashtags\": [\"#example1\", \"#example2\", \"#example3\"] }  \n\n### Examples:\n1)\n**Input:** \"Promote a new coffee brand\" \n**Output:** {  \"topic\": \"Coffee brand launch\",  \n               \"content\": \"Kickstart your mornings with the perfect brew ☕✨ Taste the aroma, feel the energy — experience coffee redefined!\",  \n            \"hashtags\": [\"#CoffeeLovers\", \"#MorningVibes\", \"#NewBrew\", \"#CoffeeTime\"] } \n\n2)\n**Input:** \"Share tips on AI in education\" \n**Output:** {   \"topic\": \"AI in education\",  \n                \"content\": \"AI is revolutionizing classrooms — from smart grading to personalized learning paths. The future of education is intelligent!\",  \n             \"hashtags\": [\"#AIinEducation\", \"#EdTech\", \"#FutureLearning\", \"#SmartClassroom\"] } \n\n## Final\nIf no topic is provided, politely ask the user to provide one."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "id": "60657c2b-5b27-45c9-8a74-31878158e3a4",
      "name": "Message a model"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nimport re\n\nfor item in _input.all():\n    raw_text = item.json.get(\"content\", {}).get(\"parts\", [{}])[0].get(\"text\", \"\").strip()\n\n    # --- 1️⃣ Clean up escaped characters and unwanted symbols\n    cleaned = raw_text.strip()\n    cleaned = cleaned.replace('\\n', ' ').replace('\\r', ' ').replace('\\\\', '')\n\n    # --- 2️⃣ Try to extract JSON block using regex (in case the model wrapped it in quotes or text)\n    json_match = re.search(r'\\{.*\\}', cleaned, re.DOTALL)\n    if json_match:\n        json_str = json_match.group(0)\n    else:\n        json_str = cleaned\n\n    # --- 3️⃣ Try to parse the JSON safely\n    try:\n        parsed = json.loads(json_str)\n    except json.JSONDecodeError:\n        # fallback: try eval-like cleanup\n        try:\n            parsed = json.loads(json_str.replace(\"'\", '\"'))\n        except Exception:\n            parsed = {}\n\n    # --- 4️⃣ Extract and normalize fields\n    topic = parsed.get(\"topic\", \"\")\n    content_text = parsed.get(\"content\", \"\")\n    hashtags = parsed.get(\"hashtags\", [])\n\n    # --- 5️⃣ Convert list to string for Google Sheets or text outputs\n    if isinstance(hashtags, list):\n        hashtags_str = \", \".join(hashtags)\n    else:\n        hashtags_str = str(hashtags)\n\n    # --- 6️⃣ Store outputs\n    item.json[\"topic\"] = topic\n    item.json[\"contentText\"] = content_text\n    item.json[\"hashtags\"] = hashtags_str\n\nreturn _input.all()\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        0
      ],
      "id": "507a1e6e-40ff-47ae-9066-6e94130c6161",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "8c8VIGAOKmT9GJFT",
          "mode": "list",
          "cachedResultName": "Content generation",
          "cachedResultUrl": "/projects/sw65Gph2j9aFEr6o/datatables/8c8VIGAOKmT9GJFT"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $json.topic }}",
            "Content": "={{ $json.contentText }}",
            "Hashtags": "={{ $json.hashtags }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hashtags",
              "displayName": "Hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1008,
        0
      ],
      "id": "3099084d-ba4c-449f-9930-f62b4cd1ed54",
      "name": "Insert row"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5a99439e-22af-482c-a0cf-8dd028833b4d",
  "meta": {
    "instanceId": "6ae6435382c4da0f9a88fd7eff013c6028337c2272750b4c951c6df4243367ad"
  },
  "id": "kBi4ieL0DVrjsBm8",
  "tags": []
}