Resume Workflow & Agent Using Pinecone.json
{
  "name": "Resume Workflow & Agent Using Pinecone",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0cfb852f-4900-4106-bc2a-471c61cf5038",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "5a0557ec-a25e-4f6e-a146-87f0c81d6ae0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "03c39d8b-3894-4dee-87d5-3d5858be67bf",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U68J2UxaoVJrVuei",
          "name": "Google Drive -nayana"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "document",
          "mode": "list",
          "cachedResultName": "document"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        864,
        16
      ],
      "id": "07d22a5e-7d47-498a-a91c-d7137561d27c",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "V5P0xr0BxgNqUV2w",
          "name": "PineconeApi Nayana"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        672,
        240
      ],
      "id": "31462dc0-f5d0-4650-beb7-e7341f678505",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "5A0mdluJGCEyufEi",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        960,
        240
      ],
      "id": "cdf24c5a-26ef-493e-bf42-f347d2c12601",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        848,
        416
      ],
      "id": "954886ef-5600-43c5-9d28-231926ebe427",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1IT-E2MYn8qooNxLtgTjmsiGM3s7H2bE8",
            "mode": "list",
            "cachedResultName": "Resumes",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1IT-E2MYn8qooNxLtgTjmsiGM3s7H2bE8"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "080d0d06-0b7a-47f0-bc3e-1b4b26442827",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U68J2UxaoVJrVuei",
          "name": "Google Drive -nayana"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        1440,
        32
      ],
      "id": "cfd75a7c-ed47-4c0a-a2f3-623e81e8013a",
      "name": "When chat message received",
      "webhookId": "f6718b48-ac92-44cf-bc24-d35d222e8a60"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a Resume Screening AI Assistant. \nYou are connected to a Pinecone Vector Database that stores text embeddings of resumes extracted from PDF files. \nWhen a user asks about candidate suitability, retrieve the most relevant text chunks from Pinecone and base your answer ONLY on that content.\n\n- Use the context retrieved from Pinecone as your knowledge base.\n- Do not say you cannot view PDFs — the resume content has already been extracted and embedded for you.\n- Always answer based on retrieved text; if nothing relevant is found, respond with: \n  \"I couldn't find any resumes that match that description.\"\n- Summarize findings clearly and concisely using bullet points if multiple candidates are relevant.\n- Maintain a professional, factual tone.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1648,
        32
      ],
      "id": "bfa2d0e4-6f9c-4277-8aae-58fd49fc9caf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1488,
        240
      ],
      "id": "99760830-9891-4524-a7b7-82d6a8d3968d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "cpJjkH6KmeseEiFI",
          "name": "Salih Imagen"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1664,
        240
      ],
      "id": "c609a33f-1197-420d-8342-55f04ec39c7f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Use this tool to answer user queries"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1808,
        240
      ],
      "id": "4cad62a9-dbbf-4d37-810f-de7d0bfcc62c",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "document",
          "mode": "list",
          "cachedResultName": "document"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1680,
        416
      ],
      "id": "bc29b8e3-2771-4d2a-8e09-a8ca537d15d4",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "V5P0xr0BxgNqUV2w",
          "name": "PineconeApi Nayana"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1824,
        608
      ],
      "id": "5103ac1b-21f5-454d-ad79-0ae7edd188dd",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "cpJjkH6KmeseEiFI",
          "name": "Salih Imagen"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2048,
        416
      ],
      "id": "3dbf578f-bc45-478b-959a-29d48d56a7e1",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "cpJjkH6KmeseEiFI",
          "name": "Salih Imagen"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "839e4543-3148-4585-b53c-71fefc2792a1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6ae6435382c4da0f9a88fd7eff013c6028337c2272750b4c951c6df4243367ad"
  },
  "id": "ZbVNVXtuuKtUQRUl",
  "tags": []
}