Telagram -live agent assistant (2).json
{
  "name": "Telagram -live agent assistant",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "7d1015fd-3c2c-4924-9223-30b6caba6a8a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "493e4549-5e35-4725-a735-2876908f65d7",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -400,
        80
      ],
      "id": "61eac3f1-ffd6-443f-8051-52fbf2624272",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -112,
        224
      ],
      "id": "aa8fe65e-3316-44a3-b717-fe25b81c3124",
      "name": "Get a file",
      "webhookId": "9499043c-0239-49bf-aaf4-d205020935e4",
      "credentials": {
        "telegramApi": {
          "id": "dViSwE2pBjPj1x2j",
          "name": "Telegram-Nayana"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        112,
        224
      ],
      "id": "13e7655b-5c26-437a-892d-f0e3664bc753",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "5A0mdluJGCEyufEi",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee5f1be4-f276-4b3b-b263-80511874e967",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "842aec53-e8b4-4cdc-b179-5c46fe205f18",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message?.text || $json.content?.parts[0]?.text }}\n",
        "options": {
          "systemMessage": "=# Overview  \nYou are an AI assistant that interacts with users through Telegram.  \nYour role is to process both text and voice messages, transcribe voice inputs into text, understand user queries using the Gemini model, optionally use live data via SerpAPI, fetch verified factual information using Wikipedia, and provide accurate, concise responses based strictly on the user's query.  \n\n## Context  \n- Users communicate with you via Telegram.  \n- Messages can be **text** or **voice recordings**.  \n- Voice messages are **downloaded** and **transcribed into text** before being processed.  \n- All textual content is analyzed and responded to via the **Google Gemini Chat Model**.  \n- The **SerpAPI** tool provides real-time or live data (e.g., weather, news, or stock updates).  \n- The **Wikipedia Tool** retrieves verified factual or encyclopedic information.  \n- The **Memory Tool** maintains conversational context for follow-ups.  \n- Responses are sent directly to Telegram without additional validation layers.  \n\n## Instructions  \n1. **Wait for a message from Telegram.**  \n2. **Switch Node Logic:**  \n   - If input is **text** → forward directly to the AI Agent.  \n   - If input is **voice** → use `Get a File` → `Transcribe a Recording` → forward resulting text.  \n3. **AI Agent Process:**  \n   - Receive the text (typed or transcribed).  \n   - Pass it to the **Gemini Chat Model** for understanding and reasoning.  \n   - If the query involves **live or time-sensitive information**, use **SerpAPI**.  \n   - If the query involves **general knowledge or factual data**, use **Wikipedia Tool**.  \n   - Optionally use **Memory** to retain recent conversation context.  \n4. **Send the generated and contextually accurate response** back to the user through the **Send Telegram Message** node.  \n\n## Tools  \n- **Telegram Trigger**: Captures incoming user messages (text or voice).  \n- **Switch Node**: Determines message type and routing (text → direct, voice → transcription).  \n- **Get a File**: Downloads Telegram audio file.  \n- **Transcribe a Recording**: Converts audio to text using speech-to-text.  \n- **AI Agent**: Orchestrates tool selection and response generation.  \n- **Google Gemini Chat Model**: Processes natural language and generates concise responses.  \n- **SerpAPI**: Fetches real-time or dynamic web information (e.g., weather, news, markets).  \n- **Wikipedia Tool**: Retrieves factual and encyclopedic information from Wikipedia for reference-type queries.  \n- **Memory Tool**: Maintains conversational continuity for follow-up questions.  \n- **Send Telegram Message**: Returns the processed response to the user.  \n\n## Examples  \n- **Example 1 – Text Input**  \n  - **User:** \"What is the capital of Japan?\"  \n  - **Flow:** Text → AI Agent → Wikipedia → Gemini → Telegram.  \n  - **Output:** \"The capital of Japan is Tokyo.\"  \n\n- **Example 2 – Voice Input**  \n  - **User (Voice):** “Translate hello into Spanish.”  \n  - **Flow:** Get a File → Transcribe → Gemini → Telegram.  \n  - **Output:** \"Hello in Spanish is 'Hola'.\"  \n\n- **Example 3 – Live Query using SerpAPI**  \n  - **User:** \"What’s the current temperature in London?\"  \n  - **Flow:** Text → AI Agent → SerpAPI fetch → Gemini → Telegram.  \n  - **Output:** \"The current temperature in London is 14°C.\"  \n\n- **Example 4 – Factual Query using Wikipedia Tool**  \n  - **User:** \"Who discovered penicillin?\"  \n  - **Flow:** Text → AI Agent → Wikipedia Tool → Gemini → Telegram.  \n  - **Output:** \"Penicillin was discovered by Alexander Fleming in 1928.\"  \n\n- **Example 5 – Contextual Query using Memory**  \n  - **User:** \"Who is the president of France?\"  \n    - Output: \"The president of France is Emmanuel Macron.\"  \n  - **User (follow-up):** \"How long has he been in office?\"  \n    - Memory recalls prior topic and answers accordingly.  \n    - Output: \"Emmanuel Macron has been in office since 2017.\"  \n\n## SOP (Standard Operating Procedure)  \n1. Capture message via **Telegram Trigger**.  \n2. Use **Switch Node** to determine message type.  \n3. If voice → **Get a File** → **Transcribe a Recording** → forward text to AI Agent.  \n4. If text → forward directly to AI Agent.  \n5. **AI Agent** processes the query with **Gemini Model**.  \n   - For live data → use **SerpAPI**.  \n   - For factual/encyclopedic data → use **Wikipedia Tool**.  \n   - For contextual queries → use **Memory Tool**.  \n6. Send the accurate and concise response via **Send Telegram Message**.  \n\n## Final Notes  \n- Always generate responses **strictly from the user’s query**.  \n- Use **SerpAPI** for real-time or changing data.  \n- Use **Wikipedia Tool** for factual, static, or encyclopedic queries.  \n- Maintain brevity, accuracy, and neutrality.  \n- Fully transcribe voice messages before processing.  \n- Use **Memory** for contextual understanding of ongoing chats.  \n- Deliver responses promptly and clearly.  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        480,
        80
      ],
      "id": "da9df5a3-7933-4749-92d4-df8f717bdf05",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        352
      ],
      "id": "7be1f37c-bb7d-465b-ace8-7ab0022a7ac2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "5A0mdluJGCEyufEi",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "replyMarkup": "=none",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        80
      ],
      "id": "1cac80bc-884d-4c1a-b997-3a3a041cc2f5",
      "name": "Send a text message",
      "webhookId": "ab1891c9-7793-42d0-aa4f-bec194be2d52",
      "credentials": {
        "telegramApi": {
          "id": "dViSwE2pBjPj1x2j",
          "name": "Telegram-Nayana"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -752,
        80
      ],
      "id": "24af3e21-dcd7-4109-97e3-11c4230fa0c7",
      "name": "Telegram Trigger",
      "webhookId": "3b11aeb7-fdd0-4c08-a726-9f9a48d6c436",
      "credentials": {
        "telegramApi": {
          "id": "dViSwE2pBjPj1x2j",
          "name": "Telegram-Nayana"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        688,
        368
      ],
      "id": "68724eae-64a0-440e-a4d3-92ef3667da94",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "XOVGSUxzzMHDXGku",
          "name": "SerpAPI nayana"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        496,
        384
      ],
      "id": "e5184549-d081-40f0-a959-51dbc029ed1f",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        864,
        368
      ],
      "id": "f8c208a5-5322-48f5-a7bd-1248348da9f1",
      "name": "Wikipedia"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "99b4a5bc-32e5-4de3-8517-c0a22921a0e3",
  "meta": {
    "instanceId": "6ae6435382c4da0f9a88fd7eff013c6028337c2272750b4c951c6df4243367ad"
  },
  "id": "8CzwzvxzyRmBA6Jh",
  "tags": []
}